# Server deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kpoc-server
spec:
  selector:
    matchLabels:
      app: kpoc-server
  template:
    metadata:
      labels:
        app: kpoc-server
    spec:
      containers:
        - name: kpoc-server
          image: kpoc-server:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: kpoc-server-load-balancer
spec:
  selector:
    app: kpoc-server
  ports:
    - protocol: TCP
      port: 82
      targetPort: 80
  type: LoadBalancer
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: kpoc-auto-scaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: kpoc-server
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
---
# Client deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kpoc-client
spec:
  selector:
    matchLabels:
      app: kpoc-client
  template:
    metadata:
      labels:
        app: kpoc-client
    spec:
      containers:
        - name: kpoc-client
          image: kpoc-client:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 81
---
apiVersion: v1
kind: Service
metadata:
  name: kpoc-client-service
spec:
  type: NodePort
  selector:
    app: kpoc-client
  ports:
    - port: 83
      targetPort: 81