apiVersion: v1
kind: Service
metadata:
  name: kpoc-load-balancer
spec:
  selector:
    app: kpoc
  ports:
  - protocol: TCP
    port: 82
    targetPort: 80
  # clusterIP: 10.96.0.12
  type: LoadBalancer
# status:
#   loadBalancer:
#     ingress:
#     - ip: 192.0.2.127
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kpoc
spec:
  selector:
    matchLabels:
      app: kpoc
  replicas: 4
  template:
    metadata:
      labels:
        app: kpoc
    spec:
      containers:
      - name: kpoc
        image: kpoc:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 80
